div.content {
	background-color : black;
	color: white;
	margin-left: 5in;
	margin-right: 5in;
}

body {
	background-color: black;
}

a {
	color: #3d8777;
}

a:visited {
	color: #357768;
}

a:hover{
	background-color: #BDBDBD;
}

.main-menu {
	font-size: 19.5px;
	word-spacing: 5px;
	border-radius: 5px;
	background-color: #3d4143;
	border-width: 2px;
	border-style: solid;
	display: inline;
	padding: 4px;
}

.main-menu ul {
	list-style: none;
}

.main-menu li {
	display: inline;
}

.nav-hr {
	right: 0;
	max-width: 120%;
        width: 120%;
}

.links-hr {
	position: absolute;
	right: 0;
	max-width: 120%;
        width: 120%;
	margin-top: 5in;
}
