.content {
	background-color : white;
	color: black;
	border-style: solid;
	border-width: 3px;
	border-color: #00e6e6;
	margin-top: 40px;
        margin-right: 200px;
        margin-left: 200px;
	padding-bottom: 10px;
	text-indent: 8px;
}

body {
      background-color: gray;
      background-size: 100%;
      background-attachment: fixed;
}

h2 {
	text-indent: 20px;
}

a:link {
  color: #3333ff;
}

.main-menu ul {
	list-style: none;
}

.main-menu li {
	display: inline;
}

div.sites {
	image-width: default;
}
